/* Preset CSS */
html, body, div, span, h1, h2, h3, h4, h5, h6, a, footer, main, section, nav, p, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer, main, nav, section, menu {
  display: block;
}

body {
  line-height: 1;
}

html * {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

/* GLOBALS */
html {
  font-family: Arial, Verdana;
  font-size: 14px;
  background: url(../img/bg.jpg);
}

/* HEADER */

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  /*margin-top: 10px;*/
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  /*padding: 0 20px;*/
  max-width: 1010px;
  height: 100%;
}

.container .menu-nav {
  /*float: left;*/
  /*margin-left: 5rem;*/
  display: inline-block;
  height: 100%;
  position: absolute;
}

.container .menu-nav a, .register a {
  font-weight: bold;
  display: inline-block;
  color: #fff;
  line-height: 3.75rem;
  text-shadow: 0 0 0.125rem #000;
  transition: color 0.5s ease, text-shadow 0.5s ease;
  height: 100%;
}

.menu-nav a:hover {
  color: #F66F20;
  text-shadow: none;
}

.container a#logo {
  background: url(../img/logo.png) no-repeat;
  height: 100%;
  width: 226px;
  /*float: left;*/
  display: inline-block;
}

.register a#signup {
  background: url(../img/signup.png) no-repeat;
  width: 76px;
  height: 23px;
  margin: 0;
}

.register a#login {
  background: url(../img/login.png) no-repeat;
  width: 52px;
  margin-left: 10px;
  height: 14px;
  margin-bottom: 5px;
}

.register {
  position: absolute;
  /*float: right;*/
  padding-top: 15px;
  right: 0;
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.loggedIn {
  border: 1px solid #FFF;
  padding: 7px 5px;
  background: transparent;
  position: relative;
}

.loggedIn:hover {
  cursor: pointer;
}

.register .loggedIn #user {
  display: block;
  width: 150px;
  color: #FFF;
  background: url(../img/dd-arrow.png) no-repeat right;
  font-weight: 800;
  text-align: center;
  font-size: 12px;
}

.loggedIn #user-icon {
  background: url(../img/user_icon.png) no-repeat;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 5px;
}

.sub-nav {
  display: none;
  border: 1px solid #2d2d2d;
  border-top: 0;
  background: #5E5E5E;
  z-index: 500;
}

.sub-nav a {
  display: block !important;
  line-height: 2.00rem;
  margin: 0;
  text-align: center;
  color: #FFF;
}

.sub-nav a:hover {
  background: #0096D5;
}

.nav-fixed {
  background: url(../img/bg.jpg);
}

.fixed-off {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.loggedIn-off {
  background: #5E5E5E;
}

.sub-nav-off {
  background: none repeat scroll 0 0 #5f5f5f;
}

/* Login Form */
.white {
  background-color: #FFFFFF;
  /*margin: 0 auto;*/
  /*margin-bottom: 25px;*/
  /*padding: 0 20px;*/
}

.createForm {
  background-color: #6A6A6A;
  padding: 20px 30px;
  font-weight: bold;
}

.createForm h1 {
  line-height: 1.5625rem;
  font-size: 1.5625rem;
  color: #fff;
}

.signup-form {
  margin: 0 auto;
  padding: 40px 50px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  width: 70%
}

.signup-form h1 {
  font-size: 1.5rem;
  color: #555555;
  margin-bottom: 30px;
  font-weight: bold;
}

.signup-form span {
  color: #FF9D22;
}

.signup-form input {
  width: 50%;
  padding: 13px 15px;
  border: 1px solid #dddddd;
  font-weight: bold;
  font-size: 14px;
}

.signup-form p {
  height: 25px;
  margin: auto;
  width: 50%;
  color: #ff2020;
  text-align: left;
  line-height: 1.7rem;
}

.signup-form .agree {
  color: #999;
  margin: auto;
  width: 50%;
}

.agree a {
  text-decoration: underline;
  color: #1f49ff;
}

.signup-form button {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #F58D00;
  border-radius: 5px;
  border: 2px solid orange;
  color: #fff;
  cursor: pointer;
}

.signup-form button:hover {
  text-shadow: 0 0 3px #e1ddd7;
  background-color: #EF7A00;
  border: 2px solid #DC8100;
}

/* Signup Form */
.extra-border-bottom {
  height: 5px;
  background-color: #BEBEBE;
  border-bottom: 1px solid #B6B6B6;
  border-top: 1px solid #000;
}

.extra-border-top {
  height: 2px;
  background-color: #BEBEBE;
  border-bottom: 1px solid #000;
  border-top: 1px solid #B6B6B6;
}

.login-container {
  padding: 45px 0;
  margin: 0 auto;
  width: 949px;
  min-height: 510px;
}

.login-container img {
  margin-right: 30px;
  float: left;
}

.login-form {
  border: 1px solid #d0d0d0;
  background: #fbfbfb;
  float: left;
  width: 363px;
  min-height: 420px;
}

.login-header {
  padding: 10px 25px;
  border-bottom: 1px solid #d0d0d0;
}

.login-header h3 {
  font-size: 14px;
  font-weight: bold;
}

.secure-icon {
  float: right;
  background: url(../img/secure.png) no-repeat;
  height: 16px;
  padding-left: 17px;
  color: #999999;
  font-size: 12px;
  position: relative;
  top: -17px;
}

.log-form {
  padding: 20px 24px;
  border-bottom: 1px solid #d0d0d0;
  background: #f1f1f1;
}

.signin-msg {
  color: #FF1F1F;
  padding: 5px 8px;
  margin: 0 0 10px;
  border: 1px solid #F2CDCD;
  display: none;
}

.log-form input:not(.checkbox) {
  display: block;
  border: 1px solid #ababab;
  width: 100%;
  padding: 6px 10px;
  font-size: 16px;
}

.log-form input[type='text'] {
  border-bottom: none;
}

.remember {
  margin: 10px 0;
  font-size: 13px;
}

.remember input {
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
}

.log-form button {
  cursor: pointer;
  color: white;
  margin-right: 8px;
  padding: 10px 50px;
  border-radius: 5px;
  background: #3991DF;
  border: 1px solid #2077C4;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  vertical-align: text-bottom;
}

.log-form .fb-link {
  background: url(../img/fb.png) no-repeat;
  width: 154px;
  font-size: 13px;
  padding: 6px 0 0 50px;
  height: 40px;
  display: inline-block;
  line-height: 14px;
  vertical-align: text-bottom;
}

.log-form .forgot-link {
  color: #2C89D9;
  font-size: 13px;
  margin-top: 10px;
  display: inline-block;
}

.createAccount {
  padding: 20px 25px;
  color: #666666;
}

.createAccount h3 {
  color: #333333;
  font-size: 18px;
}

.createAccount p {
  line-height: 1.398rem;
}

.createAccount a {
  color: white;
  font-size: 16px;
  text-align: center;
  background: #F07C0F;
  border-radius: 5px;
  border: 1px solid #C96300;
  font-weight: bold;
  display: block;
  width: 150px;
  padding: 6px;
}

/* Showcase */

.showcase {
  background: url(../img/rf2.jpg) center;
  height: 1000px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.box {
  position: absolute;
  /*width: 53.75rem;*/
  top: 10.8125rem;
  left: 56%;
  margin-left: -21.875rem;
  overflow: hidden;
  text-align: center;
  height: 810px;
}

.box .video-container {
  max-width: 768px;
  margin-bottom: 30px;
}

.box .rf-frame {
  /*border: 2px solid rgba(255, 255, 255, 0.2);*/
  padding: 15px;
}

.box .frame-img {
  position: relative;
  padding-top: 56%;
}

.box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*.box-title {
  font-size: 3.75rem;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 0 0.125rem #000;
}

.box p {
  font-size: 1.06rem;
  color: #DDD;
  text-shadow: 0 0 0.125rem #000;
  margin: 0;
  margin-top: 2.35rem;
  line-height: 1.5;
  font-weight: bold;
}*/

/*.button-box {
  margin-top: 5rem;
}*/

.button-box a {
  color: #FFF;
  border: 1px solid #FFF;
  font-size: 1.675rem;
  font-weight: bold;
  text-shadow: 0 0 0.125rem #000;
  line-height: 3.625rem;
  text-align: center;
  margin: 0 1rem;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button-box a:hover {
  background-color: #FF5010;
  transition: background-color 0.3s ease;
}

/* Add Credit */

.left-content {
  padding: 40px 30px;
  float: left;
  /*border-right: 1px solid #dbdbdb;*/
  width: 760px;
}

.currency {
  padding: 8px 10px;
  float: left;
  text-shadow: 0px 1px 2px #25b4b9;
  border: 1px solid #0c888c;
  display: inline;
  font-size: 1.2rem;
  color: #ffffff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #33c7cb),color-stop(1, #0c888c));
}

.currrenyType {
  float: left;
  border: 1px solid #c9c9c9;
  text-shadow: 0px 1px 0px #efefef;
  position: absolute;
  z-index: 1;
  width: 176px;
  display: inline-block;
  background: #FFFFFF;
}

.currrenyType ul {
  margin: 0;
  padding: 0;
}

.currrenyType ul li {
  list-style: none;
  padding: 9.5px 8px;
  cursor: pointer;
}

.currrenyType ul li.active {
  display: block;
  background: url(../img/curr_arrow.png) no-repeat 160px center transparent;
}

.currrenyType ul li:not(.active):hover {
  background: #BFECEE;
}

.currrenyType:hover li.active {
  border-bottom: 1px solid #c9c9c9;
}

.clear {
  clear: both;
}

.astros {
  padding: 15px 30px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
  position: relative;
}

.astros a {
  background: url(../img/x.jpg) no-repeat right;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: -1px;
  top: -1px;
}

.astros h4 {
  background: url(../img/q.png) no-repeat;
  height: 24px;
  font-size: 13px;
  padding: 4px 0 0 30px;
  font-weight: bold;
}

.astros p {
  margin: 5px 0 0 0;
  font-size: 13px;
  line-height: 1.2rem;
}

.pay-background {
  margin-top: 10px;
  position: relative;
}

.pay-box {
  border: 1px solid #d6d6d6;
  background: #E1E1E1;
  padding-bottom: 2.5rem;
}

.pay-background span.num {
  background: url(../img/nums.png) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}

.pay-nav {
  padding: 15px 30px;
}

.pay-nav h3 {
  display: inline;
  line-height: 1.7rem;
  margin-left: 5px;
  font-size: 1.25rem;
}

.pay-nav-right {
  float: right;
  line-height: 1.7rem;
}

.pay-nav-right span {
  padding: 0 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}

.pay-nav-right span.current {
  border: 1px solid #a8a8a8;
  box-shadow: 0px 2px 0px #d3d3d3;
  color: #2E8489;
  background: #F9F9F8;
}

.pay-info {
  padding: 15px 30px;
  border-top: 1px solid #d6d6d6;
}

.pay-info p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.pay-info a {
  color: #FF6C00;
}

.pay-option {
  padding: 15px 30px;
}

.pay-option .back-img {
  background: #E6E6E6;
  display: inline-block;
  border: 1px solid #D3D3D3;
  margin-left: 10px;
  height: 80px;
}

.pay-option .back-img img {
  height: 79px;
}

.pay-background button {
  height: 62px;
  width: 180px;
  font-size: 2rem;
  margin-top: 22px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #D36D00;
  background: #FF720E;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(206, 108, 0, 0.7);
  position: relative;
  left: 35%;
}

.right-content {
  padding: 20px 30px;
  height: 655px;
  border-left: 1px solid #dbdbdb;
  width: 250px;
  color: #777777;
  float: left;
  /*position: relative;*/
}

.amount {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.amount h4 {
  padding: 13px 0;
  text-indent: 10px;
  /*line-height: 14px;*/
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #0c888c;
  /*width: 100%;*/
  background: linear-gradient(to bottom, #33c7cb 0%,#1baeb4 100%);
}

.amount span {
  color: #1db1b6;
  display: block;
  font-size: 1.8rem;
  padding: 13px 0;
  background: #fafafa;
  text-indent: 10px;
  border: 1px solid #333333;
  border-top: none;
  word-wrap: break-word;
  font-weight: bold;
}

.right-content a {
  display: block;
  color: #333333;
  background: url(../img/right_arrow.png) no-repeat 98% center;
  padding: 10px 10px 10px 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.right-content a:not(#help):hover {
  color: #ff6c00;
}

.faq-box {
  border: 1px solid #dbdbdb;
  font-size: .82rem;
  color: #666666;
  margin-top: 1.25rem;
}

.faq-box h4 {
  background: url(../img/q.png) no-repeat 6% center;
  height: 35px;
  padding: 10px 0 0 40px;
  font-weight: bold;
  font-size: 1rem;
}

.faq-box a {
  background: url(../img/q_arrow.png) no-repeat 95% center;
  border-top: 1px solid #dbdbdb;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.help {
  border: 1px solid #b4b4b4;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
}

.help a {
  padding: 10px 0 10px 40px;
  margin: 0;
  background: url(../img/contact.png) no-repeat 20% center;
  text-align: center;
  font-size: .85rem;
  line-height: 1rem;
}

/* My Account */
.left {
  padding: 30px 15px 30px 30px;
  border-left: none;
  /*border-right: 1px solid #dbdbdb;*/
  width: 180px;
  height: 100%;
  font-size: .9rem
}

.left a {
  border-bottom: 1px solid #e9e9e9;
}

.right {
  float: left;
  width: 740px;
  border-left: 1px solid #dbdbdb;
  position: relative;
  padding: 40px;
  min-width: 490px;
}

/* Profile */
.right h2 {
  font-size: 1.25rem;
  /*font-weight: bold;*/
  margin-bottom: 20px;
}

.right .form-cont {
  padding: 30px 30px 10px 30px;
  /*margin-top: 20px;*/
  background: #f1f1f1;
}

.form-cont span {
  display: inline-block;
  width: 170px;
  margin-bottom: 14px;
  font-size: 1.1rem;
}

.form-cont input {
  background: #e4e4e4;
  border: 1px solid #ABABAB;
  font-size: 14px;
  padding: 4px;
  width: 200px;
}

.right p {
  padding-left: 25px;
  margin-top: 25px;
  line-height: 1.3rem;
}

.right a {
  color: #0096d5;
}

.form-cont li a {
  text-decoration: underline;
  margin-left: 5px;
}

.right p a:hover {
  text-decoration: underline;
}

.info p.success {
  background: #5CB85C;
  border: 1px solid #4CAE4C;
}

.info p.err {
  background: #D9534F;
  border: 1px solid #D43F3A;
}

.right button {
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  background: #3991DF;
  border: 1px solid #2077C4;
  color: white;
  border-radius: 5px;
  position: relative;
  left: 200px;
  font-size: 1.2rem;
}

/* Footer */
footer {
  font-size: 13px;
  padding: 20px 0;
  margin-top: 40px;
  margin-bottom: 25px;
  color: #666;
  font-weight: 600;
  clear: both;
  /*position: relative;*/
}

footer a:hover {
  text-decoration: underline;
}

footer .games {
  margin-left: 40px;
  padding-bottom: 10px;
}

footer .games a {
  margin: 0 10px;
}

footer .resources {
  margin: 5px 0 0 30px;
}

/*footer .resources a {
  margin: 0 5px;
}*/

footer p {
  margin: 40px 30px 10px 30px;
  /*display: inline-block;*/
  position: relative;
  line-height: 2.35rem;
  height: 30px;
}

footer a#fb {
  background: url(../img/fb2.png) no-repeat;
  height: 30px;
  width: 30px;
  /*display: inline-block;*/
  position: absolute;
  right: 70px;
}

footer a#twit {
  background: url(../img/tw.png) no-repeat;
  height: 30px;
  width: 30px;
  /*display: inline-block;*/
  position: absolute;
  right: 35px;
}

footer a#you {
  background: url(../img/yo.png) no-repeat;
  height: 30px;
  width: 30px;
  /*display: inline-block;*/
  position: absolute;
  right: 0;
}
